@charset "UTF-8";

/*
Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}

main{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
    position: relative;

}

#login{
    background-color: white;
    width: 300px;
    height: 510px;

    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.671);
    transition: width 0.4s, height 0.4s;

}

#imagem{
    display: block;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    height: 205px;
    background-image: url(../imagens/pexels-intan-payung-3809692-10541466.jpg);
    background-position: center center;
}

#formulario{
    display: block;
    padding: 5px;
}

h1{
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

p{
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

form{

    margin: 15px;
}

input{
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 220px;
    height: 34px;
    border: 1px solid #5f2c82;
    border-radius: 5px;
}

label{
    padding-left: 10px;
    color: white;
    background: #5f2c82;
    margin: 4px;
    display: none;
    
}

.icon{
    padding: 0px 0px 0px 0px;
   
    background-color: #5f2c82;
    width: 260px;
    height: 35px;
    position: relative;
    border-radius: 5px;
    color: white;
    margin: 15px 0px;
    
   
}
span{
    padding: 5px 8px;
}

#enviar{
    padding: 5px;
    right: 0px;
    color: white;
    font-weight: 600;
    background-color: #5f2c82;
    width: 260px;
    position: relative;
    border-radius: 30px;
    
}

a{
    display: inline-block;
}

#container{
    text-align: center;
    margin: -5px 0px 0px 0px;
}